* {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  font-family: "Gochi Hand";
}

body {
  background-color: #FFF4D6;
}

.nav {
  width: 1440px;
}
.navBack {
  position: relative;
  z-index: 0;
  top:0%;
  right: 0%;
}

.navCard {
  position: absolute;
  object-fit: contain;
  z-index: 1;
  width: 650px;
  height: 550px;
  right: 2%;
  top: -3%;
}

.navBio {
  position: absolute;
  text-align: left;
  width: 45%;
  top: 2%;
  left: 7%;
}

.navH1 {
  color:#F57600;
  font-size: 4.9em;
}

.navP {
  font-size: 2.25em;
  color: #FFF4D6;
}

.navButton {
  color: #FFF4D6;
  background-color: #F57600;
  font-size: 2.25em;
  border-radius: 0.3em;
  padding: 0.3em;
  margin-top: 0.3em;
  border: none;
}

.joinBio {
  position: relative;
  text-align: left;
  width: 45%;
  top: -9em;
  left: 7%;
} 

.joinH1 {
  font-size: 3.9em;
}

.joinP {
  z-index: 3;
  top: 0%;
  font-size: 2.25em;
}

.topCards {
  position: relative;
  top: -18em;
  left: 100%;
}

.top1 {
  position: relative;
  transform: rotate(-24deg);
  left: 6%;
  z-index: 1;
  width: 33%;
}

.top2 {
  position: relative;
  transform: rotate(-6deg);
  top: -7em;
  z-index: 0;
  width: 33%;
}

.top3 {
  position: relative;
  transform: rotate(24deg);
  right: 6%;
  z-index: 1;
  width: 33%;
}

.media {
  display: flex;
  position: relative;
  top: -25em;
}

.cubicleMov {
  width: 50%;
  margin: 0.9em;
}

.mediaBio {
  width: 45%;
  margin: 0.65em;
}

.inner-slider {
  position: relative;
  display: flex;
  width: -webkit-fill-available;
  top: -23em;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(1, 180px);
  margin: 0.3em;
}

.footer {
  position: relative;
  top: -22em;
}

.footerCubicle{
  position: relative;
  z-index: 0;
}

.footerBio {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 20%;
  left: 40%;
}

.footerH1 {
  font-size: 4.9em;
  margin-bottom: 0.1em;
}

.footerButton{
  color: #FFF4D6;
  background-color: #F57600;
  font-size: 2.9em;
  border-radius: 0.3em;
  padding: 0.3em;
  margin-top: 0.3em;
  border: none;
}

.mobileNavCard {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navCard {
    width: 460px;
    height: 390px;
  }

  .navBio {
    top: 1%;
  }

  .navH1 {
    font-size: 3.9em;
  }

  .navP {
    font-size: 1.8em;
  }

  .navButton {
    font-size: 1.8em;
  }

  .joinBio {
    top: -7em;
  }

  .joinH1 {
    font-size: 2.9em;
  }
  
  .joinP {
    font-size: 1.8em;
  }

  .topCards {
    top: -15em;
  }

  .media {
    top: -19em;
  }

  .inner-slider {
    top: -19em;
  }

  .footer {
    top: -19em;
  }

  .footerBio {
    top: 12%;
    left: 35%;
  }
}

@media only screen and (max-width: 900px) {
  .navBio {
    position: absolute;
    text-align: left;
    width: 45%;
    top: 1%;
    left: 7%;
  }

  .navCard {
    width: 403px;
    height: 340px;
  }

  .navBio {
    top: 1%;
  }

  .navH1 {
    font-size: 2.9em;
  }

  .navP {
    font-size: 1.4em;
  }

  .navButton {
    font-size: 1.8em;
  }

  .joinBio {
    top: -6em;
  }

  .joinH1 {
    font-size: 1.9em;
  }
  
  .joinP {
    font-size: 1.4em;
  }

  .topCards {
    top: -7em;
  }

  .media {
    top: -13em;
  }

  .inner-slider {
    top: -13em;
  }

  .card {
    grid-template-columns: repeat(1, 150px);
    margin: 0.2em;
  }

  .footer {
    top: -13em;
  }

  .mobileNavCard {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navCard {
    width: 345px;
    height: 290px;
  }

  .navBio {
    position: absolute;
    text-align: left;
    width: 45%;
    top: 0%;
    left: 7%;
  }

  .navH1 {
    font-size: 2.25em;
  }
  
  .navP {
    font-size: 1.1em;
  }
  
  .navButton {
    font-size: 1.25em;
  }

  .joinBio {
    top: -5em;
  }

  .topCards {
    top: -2.5em;
  }

  .top2 {
    left: -3%;
  }

  .top3 {
    right: 10%;
  }

  .joinH1 {
    font-size: 2em;
  }

  .joinP {
    font-size: 1.1em;
  }
  
  .media {
    top: -7em;
  }

  .inner-slider {
    top: -7em;
  }

  .footer {
    top: -7em;
  }

  .footerBio {
    top: 20%;
    left: 40%;
  }

  .footerH1 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  .footerButton{
    font-size: 1.3em;
  }

  .mobileNavCard {
    display: none;
  }
}
@media only screen and (max-width: 425px) {

  .navBack {
    width: 425px;
  }
  
  .navCard {
    display: none;
  }

  .navBio {
    width: 100%;
    left: 2%;
  }

  .navH1 {
    font-size: 1.2em;
  }
  
  .navP {
    font-size: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.15em;
  }
  
  .navButton {
    font-size: 0.8em;
    margin-top: 0.15em;
    letter-spacing: .1rem;
  }
  
  .joinBio {
    position: relative;
    text-align: left;
    width: 425px;
    top: 15em;
    left: 2%;
  }

  .joinH1 {
    font-size: 2em;
  }

  .joinP {
    font-size: 1em;
    width: 98%;
  }

  .topCards {
    top: -11em;
    left: 10%;
  }

  .top1 {
    top: -10em;
    width: 25%;
  }

  .top2 {
    top: -17em;
    width: 25%;
  }

  .top3 {
    top: -11em;
    width: 25%;
    right: 9%;
  }

  .mobileNavCard {
    display: block;
    position: relative;
    top: 2em;
    width: 98%;
    left: 2%;
  }

  .media {
    top: 3em;
    display: inline-block;
    width: 98%;
  }
  .cubicleMov {
    width: 98%;
    left: 2%;
    margin: 0.9em;
  }

  .mediaBio {
    width: 98%;
    left: 2%;
    margin: 0.65em;
  }

  .inner-slider {
    top: 3em;
  }

  .card {
    grid-template-columns: repeat(1, 98px);
  }

  .footer {
    top: 3em;
  }

  .footerH1 {
      font-size: 1.2em;
      margin-bottom: 0.8em;
  }

  .footerButton{
    font-size: 1em;
    letter-spacing: .1rem;
  }
}

@media only screen and (max-width: 375px) {
  
  .navBack {
    width: 425px;
  }
  
  .navCard {
    display: none;
  }

  .navBio {
    width: 100%;
    left: 2%;
  }

  .navH1 {
    font-size: 1.2em;
  }
  
  .navP {
    font-size: 0.8em;
    margin-top: 0;
  }
  
  
  .navButton {
    font-size: 0.8em;
    margin-top: 0;
  }
  
  .joinBio {
    position: relative;
    text-align: left;
    width: 425px;
    top: 15em;
    left: 2%;
  }

  .joinH1 {
    font-size: 2em;
  }

  .joinP {
    font-size: 1em;
    width: 98%;
  }

  .topCards {
    top: -11.5em;
  }

  .top1 {
    top: -10em;
    width: 25%;
  }

  .top2 {
    top: -17em;
    width: 25%;
  }

  .top3 {
    top: -11em;
    width: 25%;
    right: 9%;
  }

  .mobileNavCard {
    display: block;
    position: relative;
    top: 2em;
    width: 98%;
    left: 2%;
  }

  .media {
    top: 3em;
    display: inline-block;
    width: 98%;
  }
  .cubicleMov {
    width: 98%;
    left: 2%;
    margin: 0.9em;
  }

  .mediaBio {
    width: 98%;
    left: 2%;
    margin: 0.65em;
  }

  .inner-slider {
    top: 3em;
  }

  .card {
    grid-template-columns: repeat(1, 98px);
  }

  .footerH1 {
      font-size: 1.2em;
      margin-bottom: 0.8em;
  }

  .footerButton{
    font-size: 1em;
    letter-spacing: .1rem;
  }
}